[Unit]
Description=HIS UPS Production management Software
After=network.target

[Service]
ExecStart=/home/his/usr/venv/bin/python3 -u main.py
WorkingDirectory=/home/his/usr/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=his

[Install]
WantedBy=multi-user.target